# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

llvm/build
gc/.libs
parser.hpp
parser.cpp
lex.cpp
.gc_built_marker
.llvm_built_marker
gc/.deps
gc/Makefile
gc/config.log
gc/config.status
gc/cord
gc/libatomic_ops/libtool
gc/libatomic_ops/m4
gc/libtool
parser
Bench/C++/CTest
