# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.s
*.bc
*.ll
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

llvm/build
gc/.libs
parser.hpp
parser.cpp
lex.cpp
.gc_built_marker
.llvm_built_marker
.bcleanup_marker
gc/.deps
gc/Makefile
gc/config.log
gc/config.status
gc/libatomic_ops/.deps
gc/libtool
gc/cord/.deps
parser
Bench/C++/CTest
Testing/Programs/practice.fk

